<div class="card w-50 mx-auto mt-4">
    <h4 class="card-header">Register Here</h4>
    <div class="card-body">
        <form [formGroup]="regForm">
            <div class="form-group">
                <label>User Name:</label>
                <input type="text" formControlName="uname" class="form-control">
                <div *ngIf="regForm.controls['uname'].touched &&regForm.controls['uname'] ?.['errors']" class="invalid">
                    <div *ngIf="regForm.controls['uname'] ?.['errors'] ?.['required']">
                        username is required
                    </div>
                    <div *ngIf="regForm.controls['uname'] ?.['errors'] ?.['minLength']">
                        username is minimum 4 letters
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" formControlName="Email" class="form-control">
                <div *ngIf="regForm.controls['Email'].touched &&regForm.controls['Email'] ?.['errors']" class="invalid">
                    <div *ngIf="regForm.controls['Email'] ?.['errors'] ?.['required']">
                        email is required
                    </div>
                    <div *ngIf="regForm.controls['Email'] ?.['errors'] ?.['email']">
                        enter valid Email
                    </div>
             </div>
        </div>
        <div class="form-group">
            <label>password:</label>
            <input type="password" formControlName="password" class="form-control">
            <div *ngIf="regForm.controls['password'].touched &&regForm.controls['password'] ?.['errors']" class="invalid">
                <div *ngIf="regForm.controls['password'] ?.['errors'] ?.['required']">
                    password is required
                </div>
                <div *ngIf="regForm.controls['password'] ?.['errors'] ?.['password']">
                    password valid Email
                </div>
            

        </div>
    </div>
    <div class="form-group">
        <label>conform password:</label>
        <input type="password" formControlName="cpassword" class="form-control">
        <div *ngIf="regForm.controls['cpassword'].touched &&regForm.controls['cpassword'] ?.['errors']" class="invalid">
            <div *ngIf="regForm.controls['cpassword'] ?.['errors'] ?.['required']">
               conform  password is required
            </div>
            <div *ngIf="regForm['errors'] ?.['passwordsMatch']">
              conform password should match to password
            </div>
        

    </div>
</div>
<div>Gender
<label for="">
<input type="radio" formControlName="gender" value="female" name="gender">female</label>
<label for="">
    <input type="radio" formControlName="gender" value="male" name="gender">male</label>
</div>
<div>
<label for="">
    <input type="checkbox" formControlName="subscribe">terms and conditions</label>
</div>
<div formGroupName="address">
    <h5>Address</h5>
   
    <label>
        Address1:
        <input type="text" formControlName="address1">
    </label>
    <br>
    
    <label>
        Address2:
        <input type="text" formControlName="address2">
    </label>
    <br>
   
    <label>
        state:
        <input type="text" formControlName="state">
    </label>

</div>
 <button  type="submit" class="btn btn-primary" (click)="show()" >submit</button>
            
        </form>
       
    </div>
</div>
<table *ngFor="let user of users">
    <tr >
        <td>Name:</td>
        <td>{{user.name}}</td>
     </tr>
    <tr *ngFor="let qual of user.qualifications">
        <td>Degree:</td>
        <td>{{qual.title}}</td>
        <td>{{qual.year}}</td>
     
    <div *ngFor="let sub of qual.subjects">
        <td>Subject:</td>
        <td>{{sub.subname}}</td>
        <td>{{sub.duration}}</td>
    </div>
    </tr>
</table>

