*{
    font-family: play;
}
.box{
    position:absolute;
    left:50%;
    top:10%;
    width:800px;
    height:500px;
    transform: translate(-50%,50%);
padding: 40px;
background: rgba(0,0,0,0.4);
box-sizing: border-box;
    
    
}
.invalid{
    color: red;
}