.table{
    /* width: 1200px;
    height: 700px; */
    font-size: 20px;
    margin-left: 100px;
}
 
.box1{
    width: 1400px;
    height: 900px;
    /* margin-left: 100px; */
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
}
.heading{
    text-align: center;
}
#exampleDataList{
    margin-left: 100px;
}
#example1 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
  }